<!DOCTYPE html>
<html lang="fr" xmnlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1 th:text="${recette.description}">Nom de la recette</h1>

  <ul>
    <li th:remove="all">Cat 1</li>
    <li th:remove="all">Cat 2</li>
    <li th:each="cat : ${recette.categories}" th:text="${cat.nom}">Cat 3</li>
  </ul>
  <p>Nb. personnes : <span th:text="${recette.nbPersonnes}">4</span></p>
  <p>Temps préparation : <span th:text="${recette.tempsPrep}">30 min</span></p>
  <p>Temps cuisson : <span th:text="${recette.tempsCuisson}">50 min</span></p>
  <p>Difficulté : <span th:text="${recette.difficulte}">Moyenne</span></p>
  <a href="#" th:href="${recette.source}" th:text="${recette.source}">http://bidon.com</a>

  <h3>Ingrédients</h3>

  <ul>
    <li th:remove="all">Farine : <span>200 g</span></li>
    <li th:remove="all">Oeufs : <span>3</span></li>
    <li th:remove="all">Sucre : <span>3 cas</span></li>
    <li th:each="ing : ${recette.ingredients}"
      th:text="${(ing.nom) + ' : ' + (ing.quantite) + ' ' + (ing.uniteDeMesure.nom)}">Lait : <span>1
        l</span></li>
  </ul>

  <h3>Instructions</h3>

  <p th:text="${recette.instructions}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta magni eum corrupti
    debitis laudantium? In excepturi
    voluptate perspiciatis quod dolorum commodi hic sit impedit delectus reprehenderit! Quas itaque repellendus ab
    cumque ipsam, exercitationem modi saepe nesciunt provident omnis, obcaecati aliquid sapiente voluptates repudiandae?
    Corporis voluptatem voluptates quae. Ipsam voluptatem repellendus, laborum, distinctio ad repudiandae ducimus iure
    earum accusantium perferendis voluptatum tenetur saepe adipisci ut nisi molestias illo provident est qui, officia
    fuga in quos illum autem. Ipsam alias praesentium dolorem repudiandae eaque suscipit! Quos rerum officiis deleniti
    inventore sapiente, tempore illo, exercitationem culpa delectus temporibus voluptatum molestias qui consequuntur
    aperiam obcaecati eligendi! Voluptatibus nihil tempora hic in, dolor nisi quam dicta deleniti. Sequi consectetur nam
    quisquam, corporis cumque optio beatae quod natus id est accusantium eaque dolor consequatur nisi reprehenderit
    similique iure eum quas qui, animi eius quis! Fugiat temporibus autem nesciunt ex pariatur saepe aperiam at optio
    accusamus enim quia placeat, consectetur excepturi. Quos, ratione officiis expedita beatae nam vero odit animi harum
    accusamus qui similique est assumenda quae repellendus aliquam, perspiciatis porro delectus eligendi. Omnis est
    neque nemo non qui sequi perferendis labore, suscipit aliquam, corporis iusto. Explicabo, minus recusandae autem
    pariatur nostrum voluptatem tempora voluptate quae repudiandae.</p>

  <h3>Commentaire</h3>

  <p th:text="${recette.commentaire.commentaire}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, ad
    reprehenderit qui eius quasi accusamus optio
    doloremque libero? Facere sit necessitatibus possimus nulla obcaecati voluptate unde autem exercitationem doloribus
    quas quia qui reprehenderit reiciendis iusto aut culpa quam aliquam voluptates eaque laborum accusamus minima, hic
    odit? Sed perspiciatis quae impedit.</p>

</body>

</html>