<!DOCTYPE html>
<html lang="fr" xmlns:th="https://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Recettes</title>
</head>

<body>

  <h1>Les recettes</h1>

  <table>
    <tr>
      <th>ID</th>
      <th>Nom</th>
    </tr>
    <tr th:each="recette : ${recettes}">
      <td th:text="${recette.id}">12345</td>
      <td th:text="${recette.description}">Super recette</td>
    </tr>
  </table>

</body>

</html>